<!DOCTYPE html>
<html lang="en">
{{#game}}
<head>
    <meta charset="UTF-8">
    <title>Game: {{name}}</title>
</head>
<body>
{{> snippet/header}}

<main>
    <h2>{{name}}</h2>
    <p>
        {{description}}
    </p>
    <p>
        Release data: {{date}}
    </p>
    <p>
        Developed by:
    </p>
    <p>
    <ul>
        {{#studios}}
        <li>
            <a href="/studio/{{name}}">
                {{name}}
            </a>
        </li>
        {{/studios}}
    </ul>
    {{^studios}}
    This game does not have a known author LOL
    {{/studios}}
    <p>
        Reviews:
    <ul>
        {{#game_reviews}}
        {{> snippet/review}}
        {{/game_reviews}}
    </ul>

    {{^reviews}}
    It seems that this game does not have any reviews yet.
    {{/reviews}}
    {{#loggedUser}}
    <p>
    <form action="/newReviewToDb" method="post">
        {{#game}}
        <input type='hidden' name='gameName' value="{{name}}">
        {{/game}}
        <input type='submit' value='Add new review.'>
        <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>
    {{#admin}}
    <p>
        {{> snippet/delete_button}}
        {{/admin}}
        {{/loggedUser}}
</main>
</body>
{{/game}}
</html>