<!DOCTYPE html>
<html lang="en">
{{#game}}
<head>
    <meta charset="UTF-8">
    <title>Game: {{name}}</title>
</head>
<body>
{{> snippet/header}}

{{> snippet/delete_button}}
{{name}}
<p>
    {{description}}
</p>
<p>
    Release data: {{date}}
</p>
<p>
    Developed by:
</p>
<p>
    <ul>
        {{#studios}}
            <li>
                <a href="/studio/{{name}}">
                {{name}}
                </a>
            </li>
        {{/studios}}
    </ul>
    {{^studios}}
        This game does not have a known author LOL
    {{/studios}}

</p>
    <p>
        Reviews:
    <ul>
        {{#reviews}}
        <li>
            <p>
                {{#user}} <a href="/user/{{username}}"> {{name}}</a> {{/user}} about
                {{#game}} {{name}} {{/game}}:
            </p>
            <p>
                {{comment}}
            </p>
            <p>
                Score: {{score}} | Date: {{date}}
            </p>
        </li>
        {{/reviews}}
    </ul>

    {{^reviews}}
    It seems that this game does not have any reviews yet.
    {{/reviews}}
    </p>
</body>
{{/game}}
</html>