<!DOCTYPE html>
<html lang="en">
{{#studio}}
<head>
    <meta charset="UTF-8">
    <title>Studio: {{name}}</title>
</head>
<body>
    {{> snippet/header}}
    {{> snippet/delete_button}}
    {{name}}
    <p>
        {{description}}
    </p>
    <p>
        Location: {{location}}
    </p>
    <p>
        Employees: {{employees}}
    </p>
    <p>
        <a href="/studio/{{name}}/followers">
            Followers: {{count_followers}}
        </a>
    </p>
    <p>
        Games:
    </p>
    <p>
        <ul>
            {{#games}}
            <li>
                <a href="/game/{{name}}">
                    {{name}}
                </a>
            </li>
            {{/games}}
        </ul>
        {{^games}}
            This studio does not have any game.
        {{/games}}
    </p>

</body>
{{/studio}}
</html>