<!DOCTYPE html>
<html lang="en">
{{#user}}
<head>
    <meta charset="UTF-8">
    <title>User {{username}}</title>
</head>
<body>
{{> snippet/header}}
<main>
    {{#errorMessage}}
    <p>
        {{.}}
    </p>
    {{/errorMessage}}

    <p></p>

    <h2>{{name}} @{{username}}</h2>
    <p>
        {{description}}
    </p>
    <p>
        <a href="/user/{{username}}/follows">
            Follows: {{count_follows}}
        </a>
    </p>

    <p>
        <a href="/user/{{username}}/followers">
            Followers: {{count_followers}}
        </a>
    </p>

    <p>
        <a href="/user/{{username}}/studios-follows">
            Studios follows: {{count_studio_follows}}
        </a>
    </p>

    <p>
        Reviews:
    <ul>
        {{#user_reviews}}
        {{> snippet/review}}
        {{/user_reviews}}
    </ul>

    {{^reviews}}
    It seems that this user has not made any reviews yet.
    {{/reviews}}
    {{#loggedUser}}
    <p>
        {{^own_page}}
        {{#following_this_user}}
        {{> snippet/unfollow_button}}
        {{/following_this_user}}
        {{^following_this_user}}
        {{> snippet/follow_button}}
        {{/following_this_user}}
        {{/own_page}}
        {{#admin}}
    <p>
        {{> snippet/delete_button}}
        {{/admin}}
        {{/loggedUser}}
</main>
</body>
{{/user}}
</html>