<!DOCTYPE html>
<html lang="en">
{{#user}}
<head>
    <meta charset="UTF-8">
    <title>User {{username}}</title>
</head>
<body>
{{> snippet/header}}
{{name}}
<p>
    {{description}}
</p>
<p>
    <a href="/user/{{username}}/follows">
        Follows:
        {{#usersFollow}}
            {{count_follows}}
        {{/usersFollow}}
        {{^usersFollow}}
            0
        {{/usersFollow}}
    </a>
</p>

<p>
    Followers:
        {{#followedByUsers}}
            {{count_followers}}
        {{/followedByUsers}}
        {{^followedByUsers}}
            0
        {{/followedByUsers}}
</p>
</body>
{{/user}}
</html>