<!DOCTYPE html>
<html lang="en">
{{#user}}
<head>
    <meta charset="UTF-8">
    <title>User {{username}}</title>
</head>
<body>
    {{> snippet/header}}

    {{> snippet/delete_button}}
    {{name}} @{{username}}
    <p>
        {{description}}
    </p>
    <p>
        <a href="/user/{{username}}/follows">
            Follows: {{count_follows}}
        </a>
    </p>

    <p>
        <a href="/user/{{username}}/followers">
            Followers: {{count_followers}}
        </a>
    </p>

    <p>
        <a href="/user/{{username}}/studios-follows">
            Studios follows: {{count_studio_follows}}
        </a>
    </p>

    <p>
        Reviews:
        <ul>
            {{#reviews}}
                <li>
                    <p>
                        {{#user}} {{name}} {{/user}} about
                        {{#game}} <a href="/game/{{name}}"> {{name}}</a>{{/game}}:
                    </p>
                    <p>
                        {{comment}}
                    </p>
                    <p>
                        Score: {{score}} | Date: {{date}}
                    </p>
                </li>
            {{/reviews}}
        </ul>

        {{^reviews}}
            It seems that this user has not made any reviews yet.
        {{/reviews}}
    </p>
</body>
{{/user}}
</html>