<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<p>Colors in list:</p>
<ul>
    {{#colors}}
    <li>{{.}}</li>
    {{/colors}}
</ul>
<p>Colors in table:</p>
<table>
    {{#colors}}
    <tr>
        <th>
            {{-index}}
        </th>
    </tr>
    <tr>
        <td>
            {{.}}
        </td>
    </tr>
    {{/colors}}
</table>
</body>
</html>