<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{{> snippet/header}}

<form action="/postLogin" method="post">
    <p>Login:</p>
    <label>
        <input type='text' name='user'>
    </label>
    <p>Password:</p>
    <label>
        <input type='password' name='password'>
    </label>
    <p>
        <input type='submit' value='Send'/>
    </p>
</form>

{{#userFound}}
<p>
    User found, but logins is not implemented yet!
</p>
{{/userFound}}
{{#userNotFound}}
<p>
    User not found!
</p>
{{/userNotFound}}

</body>
</html>