<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
{{> snippet/header}}

<form action="/postSignup" method="post">
    <p>Login:</p>
    <label>
        <input type='text' name='user' value="{{user}}">
    </label>
    <p>Name:</p>
    <label>
        <input type='text' name='name'>
    </label>
    <p>Password:</p>
    <label>
        <input type='password' name='password'>
    </label>
    <p>Confirm your password:</p>
    <label>
        <input type='password' name='passwordConfirm'>
    </label>
    <p>
        <input type='submit' value='Send'/>
    </p>
</form>

{{#errorMessage}}
<p>
    {{.}}
</p>
{{/errorMessage}}
</body>
</html>